.slider{
    width: 100%;
    height: 900px;
    animation-name: slider;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background-repeat:no-repeat;
    background-size: contain;
}
@keyframes slider {
    0%{
       
         background-image: url(../img/chicago.jpg);
       
    }
    50%{
        
        background-image: url(../img/la.jpg);
    }
    100%{
       
        background-image: url(../img/ny.jpg);
    }
}