
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato", sans-serif;
}
  
.navigation {
    position: fixed;
    width: 100%; 
    left: 0;
    top: 0;
    z-index: 1;
}

.navigation ul {
    display: flex;
    background-color: black;
    padding-left: 6px;
}
.navigation ul li {
    list-style: none;
    padding: 1.2rem;
}
.navigation ul li:hover {
    background-color: #C9C9C9;
}
.navigation ul li a {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    color: white;
}
.fa-magnifying-glass {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 950px;
    margin-top: 15px;
}
.fa-bars{
 display: none;
}

ul .search {
display: inline-block;
margin-left: 500px
}
ul .search:hover{
    background-color: red;
}
  
.more .sub {
position: relative;
display: none;
position: absolute;
color:black;
left: 2px;
top: 57px;
padding: 0;
}
.slider{
    position: relative;
    width: 100%;
    background-size:contain ;
}
.sliderdiv{
    position: absolute;
    bottom: 0;
    left: 42%;
    color: white;
    text-align: center;
}
.more {
position: relative;
}
.more:hover .sub {
margin-left: -2px;
display: block;
color: black;
}
.sub li a {
color: black;
font-size: 1.3rem;
}
.a_color {
background-color:white;
}

.slider{
    width: 100%;
}

/* ----------------------------------------------BAND------------------------------------------------------------------------ */
.welovemusic{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    line-height: 2.5;
}
.container2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.pictures{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.pic{
   width: 150px;
   border-radius: 3px;
}

/* --------------------------------------TOUR---------------------------------------------------- */

.tour{
    width: 100%;
    background-color: black;
    text-align: center;
    align-items: center;
    
}
.td{
    font-size: 35px;
    margin-top: 100px;
    color: white;
}
.texts{
    text-align: center;
    line-height: 2;
}
.rmr{
    color: gray;
    font-size: 20px;
    margin-top: 20px;
}

/* -----------------------------------DONE----------------------------------- */
.month{
    margin-top: 20px;
    justify-content: center;
    background-color: black;
    margin: 0 auto;
    
}
.row{
    border: 1px solid rgb(183, 179, 179);
    background-color: white; 
    padding: 8px;
    color: gray;
    width: 52%;
    text-align: left;
    margin: 0 auto;
}
.sold{
    padding: 4px;
    background-color: red;
    color: white;
    margin-left: 20px;
}
.circle{
    position: relative;
    border-radius: 50%;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}
.cities{
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8;
    justify-content: center;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;

}
.city{
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: white;
    height: 330px;
    text-align: start;
}
.ny{
    width: 250px;
    height: 160px;
    background-size: contain;
    
}
.ny:hover{
   opacity: 0.6;
}
.buy{
    color: white;
    background-color: black;
    padding: 8px;
    text-decoration: none;
    margin-left: 20px;

}
.buy:hover{
    background-color: #CCCCCC;
    color: black;
}
/* --------------------CONTACT-------------------------------------- */
.contact {
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
  }
  
  .h2-last {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
  }
  
  .p-last {
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.6;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
  }
  
  .last-main-div {
    display: flex;
    width: 100%;
    padding: 32px 0px;
  }
  
  .last-main-second-div {
    width: 50%;
    font-size: 18px;
    line-height: 1.2em;
    text-align: center;
    line-height: 1.5;
  }
  
  .input-part {
    width: 50%;
  }
  
  .input-name-email {
    width: 50%;
    padding: 0px 8px;
  }
  
  .name-email-style {
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
  }
  
  .input-message {
    width: 100%;
  }
  
  .button-send-div {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0px;
  }
  
  .send-btn {
    padding: 8px 16px;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    background-color: black;
    border: none;
  }

/* --------------------------------------------------------------------------- */
.map{
    width: 100%;
    background-size: contain;
    opacity: 0.9;
}
/* ---------------------------------------------------------------------------- */
.container{
    width: 100%;
    height: 200px;
    background-color: #F7F7F7;
   
}

.socialmedia{
 width: 100%;
 text-align: center;
 margin: 0 auto;

}
.socialmedia i{
    padding-left: 6px;
    font-size: 22px;
    color: gray;
    margin: 0 auto;
    justify-content: center;
    margin-top: 80px;

}
.socialmedia p {
   color: gray;
   
}
.socialmedia i:hover{
    color: rgb(194, 191, 191);
}
.power{
    margin: 0 auto;
    text-align: center;
 }

 @media screen and (max-width: 600px) {
    .navigation ul li:not(:first-child){
         display: none;
     }
    .navigation ul li{
        width: 100%;
    }
     .slider{
         width: 100%;
     }
     .hamburger{
         display: block;
     }
     .map{
         width: 100%;
     }
     /* .pictures{
         width: 100%;
         flex-direction: column;
     } */
     .container{
         width: 100%;
     }
     .container2{
         display: flex;
         flex-direction: column;
     }
     .cities{
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;
         
     }
     .row{
         width: 100%;
     }
     .fa-bars{
         display: block;
     }
     
     .last-main-div{
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: left;
     }
     .fa-magnifying-glass{
         display: none;
     }
     .sliderdiv{
         display: block;
     }
    
 }
 