
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato", sans-serif;
}
  
.navigation {
    position: fixed;
     width: 100%; 
    left: 0;
    top: 0;
    z-index: 1;
}
.navigation ul {
    display: flex;
    background-color: black;
    padding-left: 1rem;
}
.navigation ul li {
    list-style: none;
    padding: 1.2rem;
}
.navigation ul li:hover {
    background-color: #CCCCCC;
}
.navigation ul li a {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    color: white;
}
.fa-magnifying-glass {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 950px;
    margin-top: 15px;
}
.fa-bars{
 display: none;
}

ul .search {
display: inline-block;
margin-left: 500px
}
ul .search:hover{
    background-color: red;
}
  
.more .sub {
position: relative;
display: none;
position: absolute;
color:black;
left: 2px;
top: 57px;
padding: 0;
}
.more {
position: relative;
}
.more:hover .sub {
display: block;
color: black;
}
.sub li a {
color: black;
font-size: 1.3rem;
}
.a_color {
background-color:black;
}
  

/* ---------------------------------------------------------------------------------------------------------------------- */
.welovemusic{
    position: absolute;
    top: 115%;
    left: 300px;
    width: 60%;
    height: 550px;
    text-align: center;
    line-height: 2;
}
.pictures{
    margin-top: 50px;
}
.pic{
   margin-top: 20px;
    width: 200px;
    border-radius: 3px;
    padding: 0 30px;
}
.name{
    margin-top: 150px;
}
.names span{
    padding: 0 80px ;
    top: 50px;

}
/* ------------------------------------------------------------------------------------------ */

.tour{
    position: relative;
    margin-top: 500px;
    width: 100%;
    height: 780px;
    background-color: black;
    text-align: center;
    
}
.td{
    position: absolute;
    font-size: 35px;
    margin-top: 100px;
    margin-left: 650px;
    color: white;
}
.rmr{
    color: gray;
    position: absolute;
    font-size: 20px;
    margin-top: 170px;
    left: 630px;
    
}
.month{
    position: absolute;
    top: 1650px;
    left: 360px;
    width: 800px;
    background-color: white;
}
.row{
    border: 1px solid rgb(183, 179, 179); 
    padding: 8px;
    color: gray;
}
.sold{
    padding: 4px;
    background-color: red;
    color: white;
    margin-left: 20px;
}
.circle{
    border-radius: 50%;
    background-color: black;
    color: white;
    margin-left: 680px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;

}
.cities{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 1790px;
    width: 800px;
    height: 350px;
    left: 360px;
    justify-content: space-between;
}
.city{
    width: 250px;
    height: 350px;
    background-color: white;
}
.ny{
    width: 250px;
    height: 160px;
    background-size: contain;
    
}
.ny:hover{
   opacity: 0.6;
}
.buy{
    position: absolute;
    color: white;
    background-color: black;
    padding: 10px;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 5px;
    
}
.buy:hover{
    background-color: #CCCCCC;
    color: black;
}
/* ---------------------------------------------------------- */
.contact {
    padding-top: 20px;
  }
  
.contact h3,h4 {
    margin-left: 350px;
    font-weight: normal;
}
.contact h3 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.clas-h4 {
    font-size: 1.1rem;
    color: #666;
    padding: 1.7rem;
    font-style: italic;
  }
.contact .container {
    display: flex;
  }
.container .address {
    flex: 1;
    font-size: 20px;
    color: #444;
  }
.container .form {
    flex: 1;
  }
.address i {
    padding: 5px;
  }
  
.form input[type="text"]:nth-child(n) {
    font-size: 1.1rem;
    padding: 10px;
    border: 1px solid #ccc;
  }
.form input[type="text"]:nth-child(1),
.form input[type="text"]:nth-child(2) {
    width: 340px;
  }
.form input[type="text"]:nth-child(3) {
    width: 680px;
    margin-top: 0.4rem;
  }
.form a {
    font-size: 15px;
    text-decoration: none;
    display: block;
    background-color: black;
    padding: 0.4rem 1rem;
    color: white;
    width: 70px;
    margin-left: 650px;
    margin-top: 5px;
  }
.contact {
    padding-bottom: 7rem;
    margin-left: 330px;
  }
/* --------------------------------------------------------------------------- */
.map{
    width: 100%;
    background-size: contain;
    opacity: 0.9;
}
/* ---------------------------------------------------------------------------- */
footer{
    width: 100%;
    height: 220px;
    display: flex;
    background-color: #F7F7F7;
    align-content: center;
}

.socialmedia{
 height: 60px;
 width: 200px;
 display: flex;
 margin-left: 700px;
 margin-top: 80px;
 flex-wrap: wrap;
}
.socialmedia i{
    padding-left: 6px;
    font-size: 22px;
    color: gray;
    height: 20px;
}
.socialmedia p {
   margin-left: 20px;
   color: gray;
}
.socialmedia p a{
    
    color: gray;
 }
.socialmedia i:hover{
    color: rgb(194, 191, 191);
}
.power{
    display: flex;
}